* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: lightcoral;   
}

.container {
    width: 80%;
    margin: 3rem auto;
    text-align: center;
}
